@import  url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Satisfy&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body { 
    background-color: #edbad0;
    color: #fffffe;
    
    font-size: large;

}
body{
    margin: 0px; 
}

h1{
    text-align: center;
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}


.navbar ul{ 
    list-style-type: none;
    background-color: hwb(334 90% 0%);
    padding: 0px; 
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(9, 7, 9);
    text-decoration: none;
    padding: 15px; 
    display: block;
    text-align: center; 
}
.navbar a:hover{
    background-color: rgb(243, 215, 202);

}
.navbar li{
    float: left;
}
     text-center {
        text-align: center;

     }

     #aboutme {
        background-color: rgb(243, 215, 202);
         
     }

     #contactinfo { 
        background-color: rgb(243, 215, 202); 

     }

     #certifications {
        background-color: rgb(243, 215, 202);
     }

     #projects {
        background-color: rgb(243, 215, 202);
     }

     #soho {
        background-color:rgb(243, 215, 202);
     }

     

     aside {
        width: 50%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        background-color: rgb(255, 248, 227);
      }
      


a:hover {
    color: rgb(230, 164, 180);
  } 

img {
    transition: transform 0.3s ease; 
  }
  
  
  img:hover {
    transform: scale(1.1); 
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  section:nth-child(odd) > img {
    float: left;
  }
  
  
  section:nth-child(odd) > img {
    float: right;
  }
  
  
    


