@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Recursive:wght@300..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body { 
    background-color: #fec7d7;
    color: #fffffe;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: xx-large;

}