@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Recursive:wght@300..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body { 
    background-color: #fec7d7;
    color: #fffffe;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: xx-large;

}
body{
    margin: 0px; 
}

h1{
    text-align: center;
}
nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}


.navbar ul{ 
    list-style-type: none;
    background-color: #d2e7e6;
    padding: 0px; 
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(175, 60, 179);
    text-decoration: none;
    padding: 15px; 
    display: block;
    text-align: center; 
}
.navbar a:hover{
    background-color: #b6b6a8(0, 0%, 10%);

}
.navbar li{
    float: left;
}
     text-center {
        text-align: center;

     }

     #aboutme {
        background-color: rgb(215, 201, 212)
         
     }

     #contactinfo { 
        background-color:rgb(215, 201, 212) 

     }

     #certifications {
        background-color: rgb(215, 201, 212);
     }

     #projects {
        background-color: rgb(215, 201, 212);
     }

    


